<mat-card>
  <mat-card-title>New Job Post</mat-card-title>
  <mat-card-content>
    <form [formGroup]="jobForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Title" formControlName="title" required>
          <mat-error *ngIf="jobForm.get('title')!.invalid">title is invalid</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput type="text" placeholder="Description" formControlName="description" required>
          <mat-error *ngIf="jobForm.get('description')!.invalid">description is invalid</mat-error>
        </mat-form-field>

      </div>
      <div>
        <form [formGroup]="jobTagsForm" *ngIf="jobTags$|async as tags"
              (ngSubmit)="onJobFormSubmitted(jobForm, jobTagsForm, tags)">
          <section>
            <ng-container *ngFor="let tag of tags">
              <mat-checkbox [formControlName]="tag.name" [value]="tag.id">{{tag.name}}</mat-checkbox>
            </ng-container>
          </section>
          <div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </div>
        </form>
      </div>


    </form>
  </mat-card-content>
</mat-card>

