<mat-card>
  <mat-card-title>New user data</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmitted(userForm)">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="userForm.get('email')!.invalid">email is invalid</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select placeholder="Role" formControlName="role" required>
          <mat-option *ngFor="let item of roles$ | async" [value]="item.id">
            {{item.role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>

      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">Submit</button>
      </div>
    </form>


  </mat-card-content>
</mat-card>
